{
  "swagger": "2.0",
  "info": {
    "title": "Blog",
    "description": "This is an API for all my blog entries. I use a single blog system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "blog.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blog/": {
      "get": {
        "summary": "retrieves all blogs",
        "description": "pulls all blogs, with filter by keyword",
        "operationId": "getBlogs",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },         
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      },
      "post": {
        "summary": "add blog",
        "description": "add a new blog",
        "operationId": "addBlog",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },         
          {
            "name": "name",
            "in": "query",
            "description": "name of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      }
    },
    "/blog/{blog_id}/": {
      "get": {
        "summary": "Retrieve a blog using its slug",
        "description": "Returns the blog detail",
        "operationId": "getBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      },
      "put": {
        "summary": "update blog",
        "description": "update blog",
        "operationId": "updateBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },           
          {
            "name": "name",
            "in": "query",
            "description": "name of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      },
      "delete": {
        "summary": "delete blog",
        "description": "deletes an blog",
        "operationId": "deleteBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      }
    }
  },
  "definitions": {
    "blog": {
      "properties": {
        "name": {
          "description": "name of the blog",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the blog",
          "type": "string"
        },
        "url": {
          "description": "url for the blog",
          "type": "string"
        },
        "tags": {
          "description": "tags for the blog",
          "type": "string"
        },
        "slug": {
          "description": "slug for the blog",
          "type": "string",
          "format": "id"
        }
      }
    }
  }
}
