{
  "swagger": "2.0",
  "info": {
    "title": "Blog",
    "description": "This is an API for all my blog entries. I use a single blog system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "blog.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blog/": {
      "get": {
        "summary": "retrieves all blogs",
        "description": "pulls all blogs, with filter by keyword",
        "operationId": "getBlogs",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      },
      "post": {
        "summary": "add a new blog post",
        "description": "Adds a new blog post",
        "operationId": "addBlog",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the blog was posted",
            "required": true,
            "type": "date"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the blog originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the blog",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      }
    },
    "/blog/{blog_id}/": {
      "get": {
        "summary": "Retrieve a blog using its slug",
        "description": "Returns the blog detail",
        "operationId": "getBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      },
      "put": {
        "summary": "update blog",
        "description": "update blog",
        "operationId": "updateBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the blog was posted",
            "required": true,
            "type": "date"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the blog originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the blog",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      },
      "delete": {
        "summary": "delete blog",
        "description": "deletes an blog",
        "operationId": "deleteBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      }
    },
    "/blog/byweek/": {
      "get": {
        "summary": "retrieves all blogs",
        "description": "pulls all blogs, with filter by keyword",
        "operationId": "getBlogs",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ]
      }
    }
  },
  "definitions": {
    "blog": {
      "properties": {
        "blog_id": {
          "description": "unique id of the blog",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the blog was posted",
          "type": "date"
        },
        "title": {
          "description": "ttle for the blog",
          "type": "string"
        },
        "author": {
          "description": "author of the blog",
          "type": "string"
        },
        "summary": {
          "description": "summary for the blog",
          "type": "string"
        },
        "body": {
          "description": "full body text of the blog",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the blog",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the blog originated from",
          "type": "integer",
          "format": "id"
        }
      }
    }
  }
}